<h1>Editing movie</h1>

<%= form_for(@movie, :html => { :multipart => true }) do |f| %>

<%= render(:partial => "form", layout:'box', :locals => {:f => f}) %>

<%= link_to 'Show', @movie %> |
<%= link_to 'Back', movies_path %>
<% end %>