<%  @movies = @movies.select{|movie| movie.trailers.count > 0} %>
<% @movies.each do |movie|%>
<div>
<h2><%= movie.name %></h2>
<p><%= movie.release_date.strftime('%A %d , %B') rescue nil %></p>
 <% movie.trailers.each do |trailer| %>
 <%= YoutubeHelper::video_frame(trailer.video_url).html_safe rescue nil %>
 <% end %>
</div>
<% end %>